#content {
}
#categ {
	width: 25%;
	height: 600px;
	background-color: gainsboro;
    float: left;
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
	overflow: auto;
}
#items {
	width: 48%;
	height: 600px;
	background-color: rgb(235, 235, 235);
    float: left;
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
	overflow: auto;
}
#bucket {
	width: 25%;
	height: 600px;
	background-color: gainsboro;
    float: left;
	/*border: 1px solid black;*/
	/*border-radius: 5px;*/
	overflow: auto;
}

@media (max-width: 735px) {

	#categ {
		width: 180px;
		clear: left;
		position: absolute;
	}
	#items {
		width: 350px;
		clear: left;
		position: absolute;
		margin-left: 180px;
	}
	#bucket {
		width: 180px;
		clear: left;
		position: absolute;
		margin-left: 530px;
	}
}
.categ {
	background-color: grey;
	margin: 5px 5px 5px 20px;
	padding: 3px;
	width: 70%;
	text-align: center;
	color: white;
	border-radius: 8px;
}
.item {
	background-color: white;
	width: 150px;
	height: 150px;
/*	width: 30%;
	height: 30%;*/
	border-radius: 15px;
	margin: 10px;
	float: left;
}
.itemImg {
	width: 100px;
	margin-left: auto;
}
.itemName, .itemPrice {
	text-align: center;
	line-height: 0px;
}
#bucketImg {
	width: 60%;
	margin: 20px 0px 0px 20%;
}
#bucketName {
	text-align: center;
	font-family: sans-serif;
	color: green;
}
.bucketItem {
	text-align: center;
}
#orderButton {
	font-size: 30vw;
	width:30%;
	margin-left: 35%;
}
.selectCateg {
	width: 100%;
	height: 40px;
	background-color: grey;
	color: white;
	font-size: 1.2em;
	border-radius: 10px;
	/*border: 2px solid rgb(140, 140, 140);*/
	/*-webkit-transition-duration: 0.4s; /* Safari */*/
    transition-duration: 0.4s;
}
.selectCateg:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}


