footer {
	width: 98%;
	height: 50px;
	background-color: gainsboro;
	clear: left;
	border: 1px solid black;
	border-radius: 5px;
	position: static;
	margin-top: 600px;
}

@media (max-width: 742px) {
	footer {
		width: 700px;
	}
}
#footerImage {
	height: 80%;
	margin: 5px;
}
#copyright {
	font-family: monospace;
	font-style: italic;
	float: right;
	margin: 17px 10px 10px 0px;
}